package components

templ Footer() {
	<footer class="border-t h-16 px-4">
		<div class="bg-white rounded-lg h-full flex items-center justify-center">
			&copy; 2024, Roshan Acharya
		</div>
	</footer>
}
